<div class="blog-view2">
  <div class="contents row slide">
    <div class="content_post" style="background-image: url(<%= @blog.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
        <li>
        <%= link_to 'Back to top', blogs_path  %>
        </li>
        </ul>
        </div>
    <p><%= @blog.title %></p>
    <span class="name"><%= @blog.created_at %>
    </span>
  </div>

  <div class="contents row">
    <div class="content_post" >
    <div class="blog-content"><%= @blog.content %>
    </div>
  </div>
</div>