<header>
      <div class="left-side-header">
        <%= link_to root_path, class: 'to-title' do %>
          <h1 class="title"><span class="start1">M</span>y Garage</h1>
        <% end %>
      </div>
      <div class="right-side-header">
        <ul class="nav-list">
        <%= link_to bios_path, class: 'to-bios' do %>
          <li class='header-list', id='category'>Biography</li>
        <% end %>
        <%= link_to artworks_path, class: 'to-artworks' do %>
          <li class='header-list', id='category2'>Artworks</li>
        <% end %>
        <%= link_to contacts_path, class: 'to-contacts' do %>
          <li class='header-list', id='category4'>Contact</li>
        <% end %>
        <%= link_to blogs_path, class: 'to-blogs' do %>
          <li class='header-list', id='category3'>Blog</li>
        <% end %>
        </ul>
      </div>
    </header>